@{
    /******************************************************************************
// Canary Islands Computer Museum Website
// ----------------------------------------------------------------------------
//
// Filename       : ByLetter.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Lists computers by company
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/

    ViewData["Title"] = "Companies";
}
@using System.IO
@model CompanyWithItems

<p>Search results:</p>
<p align=center>
    @if(Model != null)
    {
        if(File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, "assets/logos", Model.Id + ".gif")))
        {
            <img src="@(System.IO.Path.Combine("/assets/logos", Model.Id + ".gif"))"
                 alt="">
        }

        if(File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, "assets/logos", Model.Id + ".jpg")))
        {
            <img src="@(System.IO.Path.Combine("/assets/logos", Model.Id + ".jpg"))"
                 alt="">
        }

        if(File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, "assets/logos", Model.Id + ".png")))
        {
            <img src="@(System.IO.Path.Combine("/assets/logos", Model.Id + ".png"))"
                 alt="">
        }
        <b>@Model.Name</b>
        <br />

        if(Model.Computers.Any())
        {
            <p>
                @Model.Computers.Count() computers found in the database.<br />
                @foreach(ComputerMini computer in Model.Computers)
                {
                    <a asp-controller="Computer"
                       asp-action="View"
                       asp-route-id="@computer.Id">
                        @computer.Model</a>
                    <br />
                }
            </p>
        }
        else
        {
            <p>There are no computers found in the database that belong to that company.</p>
        }

        if(Model.Consoles.Any())
        {
            <p>
                @Model.Consoles.Count() videoconsoles found in the database.<br />
                @foreach(ConsoleMini console in Model.Consoles)
                {
                    <a asp-controller="Console"
                       asp-action="View"
                       asp-route-id="@console.Id">
                        @console.Model</a>
                    <br />
                }
            </p>
        }
        else
        {
            <p>There are no videoconsoles found in the database that belong to that company.</p>
        }
    }
    else
    {
        <p>Company not found!</p>
    }
</p>