@model Marechai.Database.Models.CompanyLogo

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>
</div>
<div>
    <h4>Company logo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            SVG
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/@(Model.Guid).svg" />
        </dd>
        <dt class="col-sm-2">
            PNG 1x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/png/1x/@(Model.Guid).png" />
        </dd>
        <dt class="col-sm-2">
            PNG 2x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/png/2x/@(Model.Guid).png" />
        </dd>
        <dt class="col-sm-2">
            PNG 3x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/png/3x/@(Model.Guid).png" />
        </dd>
        <dt class="col-sm-2">
            WebP 1x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/webp/1x/@(Model.Guid).webp" />
        </dd>
        <dt class="col-sm-2">
            WebP 2x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/webp/2x/@(Model.Guid).webp" />
        </dd>
        <dt class="col-sm-2">
            WebP 3x
        </dt>
        <dd class="col-sm-10">
            <img src="/assets/logos/webp/3x/@(Model.Guid).webp" />
        </dd>
    </dl>
</div>