@model Cicm.Database.Models.ResolutionsByScreen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resolutions by screen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Screen.NativeResolution != null) { @($"{Model.Screen.Diagonal}\" {Model.Screen.Type} with {Model.Screen.NativeResolution}") }
            else
            { @($"{Model.Screen.Diagonal}\" {Model.Screen.Type}") }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class="col-sm-10">
            @Model.Resolution.ToString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-primary">
        Edit
    </a>
    <a asp-action="Index"
       class="btn btn-secondary">
        Back to List
    </a>
</div>