@model Marechai.Database.Models.Person

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryOfBirth.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Webpage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Webpage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Twitter != null)
            {
                <a href="https://twitter.com/@Html.DisplayFor(model => model.Twitter)">@Html.DisplayFor(model => model.Twitter)</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Facebook != null)
            {
                <a href="https://www.facebook.com/@Html.DisplayFor(model => model.Facebook)">@Html.DisplayFor(model => model.Facebook)</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>
</div>