@model Marechai.Areas.Admin.Models.OwnedMachineViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>Owned machine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcquisitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcquisitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LostDateDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastStatusDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastStatusDateDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boxed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boxed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manuals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manuals)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumberVisible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumberVisible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>
</div>