@model IEnumerable<Cicm.Database.Models.OwnedMachine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcquisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastStatusDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boxed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manuals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumberVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcquisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStatusDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boxed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manuals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumberVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
