@inject StringLocalizer<NavMenu> L

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@string.Format(L["Hello {0}!"], @context.User.Identity.Name)</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">@L["Log out"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@L["Register"]</a>
        <a href="Identity/Account/Login">@L["Log in"]</a>
    </NotAuthorized>
</AuthorizeView>