@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Index.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view index
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/
}
@using cicm_web.Areas.Admin.Models
@model IEnumerable<cicm_web.Areas.Admin.Models.SoundSynthViewModel>

@{
    ViewData["Title"] = "Sound synthetizers (Admin)";
}

<h2>Sound synthetizers</h2>

<p>
    <a asp-action="Create"
       class="btn btn-primary">
        Create New
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(SoundSynthViewModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntroducedView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Details"
                   asp-route-id="@item.Id"
                   class="btn btn-primary">
                    Details
                </a>
                <a asp-action="Edit"
                   asp-route-id="@item.Id"
                   class="btn btn-secondary">
                    Edit
                </a>
                <a asp-action="Delete"
                   asp-route-id="@item.Id"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>