@{
/******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Details.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view details
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/machines/details/{Id:int}"
@page "/admin/machines/edit/{Id:int}"
@page "/admin/machines/create"
@using Marechai.Database
@inherits OwningComponentBase<MachinesService>
@inject IStringLocalizer<MachinesService> L
@inject CompaniesService CompaniesService
@inject MachineFamiliesService MachineFamiliesService
@inject NavigationManager NavigationManager
@inject GpusByMachineService GpusByMachineService
@inject GpusService GpusService
@inject SoundSynthsByMachineService SoundSynthsByMachineService
@inject SoundSynthsService SoundSynthsService
@inject ProcessorsByMachineService ProcessorsByMachineService
@inject ProcessorsService ProcessorsService
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Machine details"]</h3>
<hr />

@if (!_loaded)
{
    <p align="center">@L["Loading..."]</p>

    return;
}

<div>
    <Field>
        <FieldLabel>@L["Company"]</FieldLabel>
        <Select Disabled="!_editing" TValue="int" @bind-SelectedValue="@_model.CompanyId">
            @foreach (var company in _companies)
            {
                <SelectItem TValue="int" Value="@company.Id">@company.Name</SelectItem>
            }
        </Select>
    </Field>
    <Field>
        <FieldLabel>@L["Name"]</FieldLabel>
        <Validation Validator="@ValidateName">
            <TextEdit Disabled="!_editing" @bind-Text="@_model.Name">
                <Feedback>
                    <ValidationError>@L["Please enter a valid name."]</ValidationError>
                </Feedback>
            </TextEdit>
        </Validation>
    </Field>
    <Field>
        <FieldLabel>@L["Type"]</FieldLabel>
        <Select Disabled="!_editing" TValue="int" @bind-SelectedValue="@Type">
            @foreach (int type in Enum.GetValues(typeof(MachineType)))
            {
                <SelectItem TValue="int" Value="@type">@(((MachineType)type).ToString())</SelectItem>
            }
        </Select>
    </Field>
    @if (_editing || _model.Model != null)
    {
        <Field>
            <FieldLabel>@L["Model code"]</FieldLabel>
            @if (_editing)
            {
                <Check TValue="bool" @bind-Checked="@_unknownModel">@L["Unknown (model)"]</Check>
            }
            @if (!_editing ||
                 !_unknownModel)
            {
                <Validation Validator="@ValidateModel">
                    <TextEdit Disabled="!_editing" @bind-Text="@_model.Model">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid model."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            }
        </Field>
    }
    @if (_editing || _model.Introduced.HasValue)
    {
        <Field>
            <FieldLabel>@L["Introduced"]</FieldLabel>
            @if (_editing)
            {
                <Check TValue="bool" Disabled="_prototype" @bind-Checked="@_unknownIntroduced">@L["Unknown (introduction date)"]</Check>
                <Check TValue="bool" Disabled="_unknownIntroduced" @bind-Checked="@_prototype">@L["Prototype"]</Check>
            }
            @if (!_editing ||
                 (!_prototype && !_unknownIntroduced))
            {
                <Validation Validator="@ValidateIntroduced">
                    <DateEdit Disabled="!_editing" TValue="DateTime?" @bind-Date="@_model.Introduced">
                        <Feedback>
                            <ValidationError>@L["Please enter an introduction date."]</ValidationError>
                        </Feedback>
                    </DateEdit>
                </Validation>
            }
            </Field>
    }
    @if (_editing || _model.FamilyId != null)
    {
        <Field>
            <FieldLabel>@L["Family"]</FieldLabel>
            @if (_editing)
            {
                <Check TValue="bool" @bind-Checked="@_noFamily">@L["No family"]</Check>
            }
            @if (!_editing ||
                 !_noFamily)
            {
                <Select Disabled="!_editing" TValue="int?" @bind-SelectedValue="@_model.FamilyId">
                    @foreach (MachineFamilyViewModel family in _families)
                    {
                        <SelectItem TValue="int?" Value="@family.Id">@family.Name</SelectItem>
                    }
                </Select>
            }
        </Field>
    }
</div>
<div>
    @if (!_editing)
    {
        <Button Color="Color.Primary" Clicked="@OnEditClicked">@L["Edit"]</Button>
    }
    else
    {
        <Button Color="Color.Success" Clicked="@OnSaveClicked">@L["Save"]</Button>
        <Button Color="Color.Danger" Clicked="@OnCancelClicked">@L["Cancel"]</Button>
    }
    <a href="/admin/machines" class="btn btn-secondary">@L["Back to list"]</a>
</div>
@if (!_editing)
{
    <hr />
    <h3>@L["Graphical processing units belonging to this machine"]</h3>
    <Button Color="Color.Success" Clicked="OnAddGpuClick" Disabled="_addingGpu">@L["Add new (gpu by machine)"]</Button>
    @if (_addingGpu)
    {
        <div>
            <Field>
                <FieldLabel>@L["Graphical processing units"]</FieldLabel>
                <Select Disabled="_savingGpu" TValue="int?" @bind-SelectedValue="@_addingGpuId">
                    @foreach (var gpu in _gpus)
                    {
                        <SelectItem TValue="int?" Value="@gpu.Id">@gpu.Company - @gpu.Name</SelectItem>
                    }
                </Select>
                <Button Color="Color.Primary" Clicked="@CancelAddGpu" Disabled="@_savingGpu">@L["Cancel"]</Button>
                <Button Color="Color.Success" Clicked="@ConfirmAddGpu" Disabled="@_savingGpu">@L["Add"]</Button>
            </Field>
        </div>
    }
    @if (_machineGpus?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Company"]
                    </th>
                    <th>
                        @L["Name"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _machineGpus)
                {
                    <tr>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <Button Color="Color.Danger" Clicked="() => {ShowGpuDeleteModal(item.Id);}" Disabled="@_addingGpu">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <hr />
    <h3>@L["Sound synthesizers belonging to this machine"]</h3>
    <Button Color="Color.Success" Clicked="OnAddSoundClick" Disabled="_addingSound">@L["Add new (sound by machine)"]</Button>
    @if (_addingSound)
    {
        <div>
            <Field>
                <FieldLabel>@L["Sound synthesizers"]</FieldLabel>
                <Select Disabled="_savingSound" TValue="int?" @bind-SelectedValue="@_addingSoundId">
                    @foreach (var soundSynth in _soundSynths)
                    {
                        <SelectItem TValue="int?" Value="@soundSynth.Id">@soundSynth.CompanyName - @soundSynth.Name</SelectItem>
                    }
                </Select>
                <Button Color="Color.Primary" Clicked="@CancelAddSound" Disabled="@_savingSound">@L["Cancel"]</Button>
                <Button Color="Color.Success" Clicked="@ConfirmAddSound" Disabled="@_savingSound">@L["Add"]</Button>
            </Field>
        </div>
    }
    @if (_machineSound?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Company"]
                    </th>
                    <th>
                        @L["Name"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _machineSound)
                {
                    <tr>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <Button Color="Color.Danger" Clicked="() => {ShowSoundDeleteModal(item.Id);}" Disabled="@_addingSound">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <hr />
    <h3>@L["Processors belonging to this machine"]</h3>
    <Button Color="Color.Success" Clicked="OnAddCpuClick" Disabled="_addingCpu">@L["Add new (processor by machine)"]</Button>
    @if (_addingCpu)
    {
        <div>
            <Field>
                <FieldLabel>@L["Processors"]</FieldLabel>
                <Select Disabled="_savingCpu" TValue="int?" @bind-SelectedValue="@_addingCpuId">
                    @foreach (var cpu in _cpus)
                    {
                        <SelectItem TValue="int?" Value="@cpu.Id">@cpu.CompanyName - @cpu.Name</SelectItem>
                    }
                </Select>
            </Field>
            <Field>
                <FieldLabel>@L["Nominal speed (MHz)"]</FieldLabel>
                <Check TValue="bool" @bind-Checked="@_unknownProcessorSpeed">@L["Unknown (processor by machine speed)"]</Check>
                @if (!_unknownProcessorSpeed)
                {
                    <Validation Validator="@ValidateProcessorSpeed">
                        <NumericEdit TValue="float?" Decimals="3" @bind-Value="@_addingProcessorSpeed" >
                            <Feedback>
                                <ValidationError>@L["Please enter a valid speed for this processor."]</ValidationError>
                            </Feedback>
                        </NumericEdit>
                    </Validation>
                }
            </Field>
            <Button Color="Color.Primary" Clicked="@CancelAddCpu" Disabled="@_savingCpu">@L["Cancel"]</Button>
            <Button Color="Color.Success" Clicked="@ConfirmAddCpu" Disabled="@_savingCpu">@L["Add"]</Button>
        </div>
    }
    @if (_machineCpus?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Company"]
                    </th>
                    <th>
                        @L["Name"]
                    </th>
                    <th>
                        @L["Speed"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _machineCpus)
                {
                    <tr>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @string.Format(L["{0:F3} MHz"], item.Speed)
                        </td>
                        <td>
                            <Button Color="Color.Danger" Clicked="() => {ShowCpuDeleteModal(item.Id);}" Disabled="@_addingCpu">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <Modal @ref="_frmDelete" IsCentered="true" Closing="@ModalClosing">
        <ModalBackdrop />
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>@_deleteTitle</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <Text>@_deleteText</Text>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Clicked="@HideModal" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
                <Button Color="Color.Danger" Clicked="@ConfirmDelete" Disabled="@_deleteInProgress">@L["Delete"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}