@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2021 Natalia Portillo
*******************************************************************************/
}

@page "/admin/magazine_issues/details/{Id:long}"
@page "/admin/magazine_issues/edit/{Id:long}"
@page "/admin/magazine_issues/create"
@using Marechai.Database.Models
@using Marechai.Database
@inherits OwningComponentBase<MagazineIssuesService>
@inject IStringLocalizer<MagazineIssuesService> L
@inject MagazinesService MagazinesService
@inject MachineFamiliesService MachineFamiliesService
@inject MagazinesByMachineFamilyService MagazinesByMachineFamilyService
@inject MachinesService MachinesService
@inject MagazinesByMachineService MagazinesByMachineService
@inject DocumentPeopleService PeopleService
@inject PeopleByMagazineService PeopleByMagazineService
@inject DocumentRolesService DocumentRolesService
@inject IFileReaderService FileReaderService
@inject MagazineScansService MagazineScansService
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment Host
@inject IJSRuntime JSRuntime
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Magazine issue details"]</h3>
<hr />
@if(!_loaded)
{
    <p align="center">@L["Loading..."]</p>

    return;
}
<div>
    <Field>
        <FieldLabel>@L["Magazine"]</FieldLabel>
        <Select @bind-SelectedValue="@_model.MagazineId" Disabled="!_editing" @TValue="long">
            @foreach(var magazine in _magazines)
            {
                <SelectItem @TValue="long" Value="@magazine.Id">@magazine.Title</SelectItem>
}
        </Select>
    </Field>
    <Field>
        <FieldLabel>@L["Caption using latin script"]</FieldLabel>
        <Validation Validator="@ValidateCaption">
            <TextEdit @bind-Text="@_model.Caption" ReadOnly="!_editing">
                <Feedback>
                    <ValidationError>@L["Please enter a valid caption."]</ValidationError>
                </Feedback>
            </TextEdit>
        </Validation>
    </Field>
    @if(_editing || _model.NativeCaption != null)
    {
        <Field>
            <FieldLabel>@L["Native caption, that is, caption using native script (cyrillic, chinese, etc)"]</FieldLabel>
            @if(_editing)
            {
                <Check @bind-Checked="@_unknownNativeCaption" @TValue="bool">@L["Unknown (native caption)"]</Check>
}
            @if(!_editing ||
                !_unknownNativeCaption)
            {
                <Validation Validator="@ValidateNativeCaption">
                    <TextEdit @bind-Text="@_model.NativeCaption" Disabled="!_editing">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid native caption."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
}
    @if(_editing || _model.Published != null)
    {
        <Field>
            <FieldLabel>@L["Published"]</FieldLabel>
            @if(_editing)
            {
                <Check @bind-Checked="@_unknownPublished" @TValue="bool">@L["Unknown (publication date)"]</Check>
}
            @if(!_editing ||
                !_unknownPublished)
            {
                @L["If the date of exact publication is unknown, set as first day of first month the publication applies to. E.g. July/August 1998 -> 1st July 1998"]
                <Validation Validator="@ValidatePublished">
                    <DateEdit @bind-Date="@_model.Published" ReadOnly="!_editing" @TValue="DateTime?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid publication date."]</ValidationError>
                        </Feedback>
                    </DateEdit>
                </Validation>
}
        </Field>
}
    @if(_editing || _model.ProductCode != null)
    {
        <Field>
            <FieldLabel>@L["Product code"]</FieldLabel>
            @if(_editing)
            {
                <Check @bind-Checked="@_unknownProductCode" @TValue="bool">@L["Unknown (Product code)"]</Check>
}
            @if(!_editing ||
                !_unknownProductCode)
            {
                <Validation Validator="@ValidateProductCode">
                    <TextEdit @bind-Text="@_model.ProductCode" ReadOnly="!_editing">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid product code."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
}
    @if(_editing || _model.Pages.HasValue)
    {
        <Field>
            <FieldLabel>@L["Pages"]</FieldLabel>
            @if(_editing)
            {
                <Check @bind-Checked="@_unknownPages" @TValue="bool">@L["Unknown (pages)"]</Check>
}
            @if(!_editing ||
                !_unknownPages)
            {
                <Validation Validator="@ValidatePages">
                    <NumericEdit @bind-Value="@_model.Pages" Decimals="0" Disabled="!_editing" @TValue="short?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid number of pages."]</ValidationError>
                        </Feedback>
                    </NumericEdit>
                </Validation>
}
        </Field>
}
    @if(_editing || _model.IssueNumber.HasValue)
    {
        <Field>
            <FieldLabel>@L["Issue number"]</FieldLabel>
            @if(_editing)
            {
                <Check @bind-Checked="@_unknownIssueNumber" @TValue="bool">@L["Unknown (issue number)"]</Check>
}
            @if(!_editing ||
                !_unknownIssueNumber)
            {
                <Validation Validator="@ValidateIssueNumber">
                    <NumericEdit @bind-Value="@_model.IssueNumber" Decimals="0" Disabled="!_editing" @TValue="uint?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid issue number."]</ValidationError>
                        </Feedback>
                    </NumericEdit>
                </Validation>
}
        </Field>
}
</div>
<div>
    @if(!_editing &&
        !_editingScan &&
        !_addingScan)
    {
        <Button Clicked="@OnEditClicked" Color="Color.Primary">@L["Edit"]</Button>
}
    else
    {
        <Button Clicked="@OnSaveClicked" Color="Color.Success">@L["Save"]</Button>
        <Button Clicked="@OnCancelClicked" Color="Color.Danger">@L["Cancel"]</Button>
}
    <a class="btn btn-secondary" href="/admin/magazine_issues">@L["Back to list"]</a>
</div>
@if(!_editing &&
    !_editingScan &&
    !_addingScan)
{
    <hr />
    <h3>@L["People involved in this magazine"]</h3>
    <Button Clicked="OnAddPersonClick" Color="Color.Success" Disabled="_addingPerson">@L["Add new (person)"]</Button>
    @if(_addingPerson)
    {
        <div>
            <Field>
                <FieldLabel>@L["Person"]</FieldLabel>
                <Select @bind-SelectedValue="@_addingPersonId" Disabled="_savingPerson" @TValue="int?">
                    @foreach(var person in _people)
                    {
                        <SelectItem @TValue="int?" Value="@person.Id">@person.FullName</SelectItem>
}
                </Select>
            </Field>
            <Field>
                <FieldLabel>@L["Role"]</FieldLabel>
                <Select @bind-SelectedValue="@_addingPersonRoleId" Disabled="!_editing" @TValue="string">
                    @foreach(var role in _roles)
                    {
                        <SelectItem @TValue="string" Value="@role.Id">@role.Name</SelectItem>
}
                </Select>
            </Field>
            <Button Clicked="@CancelAddPerson" Color="Color.Primary" Disabled="@_savingPerson">@L["Cancel"]</Button>
            <Button Clicked="@ConfirmAddPerson" Color="Color.Success" Disabled="@_savingPerson">@L["Add"]</Button>
        </div>
    }
    @if(_magazinePeople?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Person"]
                    </th>
                    <th>
                        @L["Role"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var item in _magazinePeople)
                {
                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.Role
                        </td>
                        <td>
                            <Button Clicked="() => {ShowPersonDeleteModal(item.Id);}" Color="Color.Danger" Disabled="@_addingPerson">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <hr />
    <h3>@L["Machine families this magazine issue talks about"]</h3>
    <Button Clicked="OnAddFamilyClick" Color="Color.Success" Disabled="_addingMachineFamily">@L["Add new (machine family)"]</Button>
    @if(_addingMachineFamily)
    {
        <div>
            <Field>
                <FieldLabel>@L["Family"]</FieldLabel>
                <Select @bind-SelectedValue="@_addingMachineFamilyId" Disabled="_savingMachineFamily" @TValue="int?">
                    @foreach(var family in _machineFamilies)
                    {
                        <SelectItem @TValue="int?" Value="@family.Id">@family.Name</SelectItem>
}
                </Select>
            </Field>
            <Button Clicked="@CancelAddFamily" Color="Color.Primary" Disabled="@_savingMachineFamily">@L["Cancel"]</Button>
            <Button Clicked="@ConfirmAddFamily" Color="Color.Success" Disabled="@_savingMachineFamily">@L["Add"]</Button>
        </div>
    }
    @if(_magazineMachineFamilies?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Family"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var item in _magazineMachineFamilies)
                {
                    <tr>
                        <td>
                            @item.MachineFamily
                        </td>
                        <td>
                            <Button Clicked="() => {ShowMachineFamilyDeleteModal(item.Id);}" Color="Color.Danger" Disabled="@_addingMachineFamily">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <hr />
    <h3>@L["Machines this magazine talks about"]</h3>
    <Button Clicked="OnAddMachineClick" Color="Color.Success" Disabled="_addingMachine">@L["Add new (machine)"]</Button>
    @if(_addingMachine)
    {
        <div>
            <Field>
                <FieldLabel>@L[""]</FieldLabel>
                <Select @bind-SelectedValue="@_addingMachineId" Disabled="_savingMachine" @TValue="int?">
                    @foreach(var machine in _machines)
                    {
                        <SelectItem @TValue="int?" Value="@machine.Id">@machine.Name</SelectItem>
}
                </Select>
            </Field>
            <Button Clicked="@CancelAddMachine" Color="Color.Primary" Disabled="@_savingMachine">@L["Cancel"]</Button>
            <Button Clicked="@ConfirmAddMachine" Color="Color.Success" Disabled="@_savingMachine">@L["Add"]</Button>
        </div>
    }
    @if(_magazineMachines?.Count > 0)
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @L["Machine"]
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var item in _magazineMachines)
                {
                    <tr>
                        <td>
                            @item.Machine
                        </td>
                        <td>
                            <Button Clicked="() => {ShowMachineDeleteModal(item.Id);}" Color="Color.Danger" Disabled="@_addingMachine">@L["Delete"]</Button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }


    <Button Clicked="@AddScan" Color="Color.Primary">@L["Add new scan"]</Button>

    @if(_scans.Count > 0)
    {
        foreach(var scan in _scans)
        {
            <div class="col-md-2">
                <figure class="figure">
                    <picture>
                        <source srcset="/assets/scans/magazines/thumbs/avif/hd/@(scan).avif, /assets/scans/magazines/thumbs/avif/1440p/@(scan).avif 2x, /assets/scans/magazines/thumbs/avif/4k/@(scan).avif 3x" type="image/avif">
                        <source srcset="/assets/scans/magazines/thumbs/heif/hd/@(scan).heic, /assets/scans/magazines/thumbs/heif/1440p/@(scan).heic 2x, /assets/scans/magazines/thumbs/heif/4k/@(scan).heic 3x" type="image/heic">
                        <source srcset="/assets/scans/magazines/thumbs/webp/hd/@(scan).webp, /assets/scans/magazines/thumbs/webp/1440p/@(scan).webp 2x, /assets/scans/magazines/thumbs/webp/4k/@(scan).webp 3x" type="image/webp">
                        <source srcset="/assets/scans/magazines/thumbs/jp2k/hd/@(scan).jp2, /assets/scans/magazines/thumbs/jp2k/1440p/@(scan).jp2 2x, /assets/scans/magazines/thumbs/jp2k/4k/@(scan).jp2 3x" type="image/jp2">
                        <img alt="" class="figure-img img-fluid rounded" height="auto" src="/assets/scans/magazines/thumbs/jpeg/hd/@(scan).jpg" srcset="/assets/scans/magazines/thumbs/jpeg/hd/@(scan).jpg, /assets/scans/magazines/thumbs/jpeg/1440p/@(scan).jpg 2x, /assets/scans/magazines/thumbs/jpeg/4k/@(scan).jpg 3x" style="max-height: 256px; max-width: 256px" width="auto" />
                    </picture>
                    <figcaption class="figure-caption">
                        <Button Clicked="async () => {await EditScan(scan);}" Color="Color.Secondary">@L["Delete"]</Button>
                        <Button Clicked="() => {ShowScanDeleteModal(scan);}" Color="Color.Danger">@L["Delete"]</Button>
                    </figcaption>
                </figure>
            </div>
        }
    }

    <Modal Closing="@ModalClosing" IsCentered="true" ref="_frmDelete">
        <ModalBackdrop />
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>@_deleteTitle</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <Text>@_deleteText</Text>
            </ModalBody>
            <ModalFooter>
                <Button Clicked="@HideModal" Color="Color.Primary" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
                <Button Clicked="@ConfirmDelete" Color="Color.Danger" Disabled="@_deleteInProgress">@L["Delete"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>}

@if(_addingScan && !_editing)
{
    @if(!_uploaded)
    {
        @if(!_uploading)
        {
            <FieldLabel>@L["Choose scan file"]</FieldLabel>
            <input ref=_inputUpload @type="file" />
            <br />
            <Field>
                <FieldLabel>@L["Scan type"]</FieldLabel>
                <Select @bind-SelectedValue="@_uploadScanType" Disabled="!_editingScan" @TValue="uint">
                    @foreach(uint value in Enum.GetValues(typeof(DocumentScanType)))
                    {
                        <SelectItem @TValue="uint" Value="@value">@(((DocumentScanType)value).ToString())</SelectItem>
}
                </Select>
            </Field>
            <Field>
                <FieldLabel>@L["Page"]</FieldLabel>
                <Check @bind-Checked="@_unknownScanPage" @TValue="bool">@L["Unknown (scan page)"]</Check>
                @if(!_unknownScanPage)
                {
                    <Validation Validator="@ValidateUnsignedIntegerBiggerThanZero">
                        <NumericEdit @bind-Value="@_uploadScanPage" Disabled="!_editing" @TValue="uint?">
                            <Feedback>
                                <ValidationError>@L["Please enter a valid scanned page."]</ValidationError>
                            </Feedback>
                        </NumericEdit>
                    </Validation>
}
            </Field>
            <Button Clicked="@UploadFile" Color="Color.Success" Disabled="@_uploading">@L["Upload"]</Button>            <br />
        }
        else
        {
            @L["Uploading..."]
            <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="@_progressValue" class="progress-bar" role="progressbar" style="width: @(_progressValue)%;">@($"{_progressValue:F2}")%</div>
            </div>
        }
        @if(_uploadError)
        {
            <span class="text-danger">@_uploadErrorMessage</span>
        }
    }
    else
    {
        <h5>@string.Format(L["Image format recognized as {0}"], _imageFormat)</h5>
        @if(_allFinished)
        {
            <span class="text-success">@L["All finished!"]</span>
        }
        <table>
        <tr>
            <td>
                @L["Extracting Exif information..."]
            </td>
            <td>
                @if(_extractExif == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_extractExif == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Moving file to proper place..."]
            </td>
            <td>
                @if(_moveFile == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_moveFile == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_moveFile == true)
                {
                    <a href="/assets/scans/magazines/originals/@($"{_selectedScan.Id}{_selectedScan.OriginalExtension}")" target="_blank">
                        <img alt="" height="auto" src="/assets/scans/magazines/originals/@($"{_selectedScan.Id}{_selectedScan.OriginalExtension}")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with an HD resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJpegHdTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpegHdTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpegHdTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jpeg/hd/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jpeg/hd/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with a 1440p resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJpeg1440Th == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpeg1440Th == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpeg1440Th == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jpeg/1440p/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jpeg/1440p/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with a 4K resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJpeg4kTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpeg4kTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpeg4kTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jpeg/4k/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jpeg/4k/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with an HD resolution..."]
            </td>
            <td>
                @if(_convertJpegHd == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpegHd == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpegHd == true)
                {
                    <a href="@($"/assets/scans/magazines/jpeg/hd/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jpeg/hd/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with a 1440p resolution..."]
            </td>
            <td>
                @if(_convertJpeg1440 == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpeg1440 == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpeg1440 == true)
                {
                    <a href="@($"/assets/scans/magazines/jpeg/1440p/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jpeg/1440p/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG with a 4K resolution..."]
            </td>
            <td>
                @if(_convertJpeg4k == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJpeg4k == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJpeg4k == true)
                {
                    <a href="@($"/assets/scans/magazines/jpeg/4k/{_selectedScan.Id}.jpg")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jpeg/4k/{_selectedScan.Id}.jpg")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with an HD resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJp2kHdTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2kHdTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2kHdTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jp2k/hd/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jp2k/hd/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with a 1440p resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJp2k1440Th == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2k1440Th == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2k1440Th == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jp2k/1440p/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jp2k/1440p/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with a 4K resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertJp2k4kTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2k4kTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2k4kTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/jp2k/4k/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/jp2k/4k/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with an HD resolution..."]
            </td>
            <td>
                @if(_convertJp2kHd == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2kHd == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2kHd == true)
                {
                    <a href="@($"/assets/scans/magazines/jp2k/hd/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jp2k/hd/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with a 1440p resolution..."]
            </td>
            <td>
                @if(_convertJp2k1440 == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2k1440 == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2k1440 == true)
                {
                    <a href="@($"/assets/scans/magazines/jp2k/1440p/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jp2k/1440p/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to JPEG2000 with a 4K resolution..."]
            </td>
            <td>
                @if(_convertJp2k4k == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertJp2k4k == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertJp2k4k == true)
                {
                    <a href="@($"/assets/scans/magazines/jp2k/4k/{_selectedScan.Id}.jp2")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/jp2k/4k/{_selectedScan.Id}.jp2")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with an HD resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertWebpHdTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebpHdTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebpHdTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/webp/hd/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/webp/hd/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with a 1440p resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertWebp1440Th == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebp1440Th == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebp1440Th == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/webp/1440p/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/webp/1440p/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with a 4K resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertWebp4kTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebp4kTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebp4kTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/webp/4k/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/webp/4k/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with an HD resolution..."]
            </td>
            <td>
                @if(_convertWebpHd == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebpHd == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebpHd == true)
                {
                    <a href="@($"/assets/scans/magazines/webp/hd/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/webp/hd/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with a 1440p resolution..."]
            </td>
            <td>
                @if(_convertWebp1440 == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebp1440 == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebp1440 == true)
                {
                    <a href="@($"/assets/scans/magazines/webp/1440p/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/webp/1440p/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to WebP with a 4K resolution..."]
            </td>
            <td>
                @if(_convertWebp4k == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertWebp4k == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertWebp4k == true)
                {
                    <a href="@($"/assets/scans/magazines/webp/4k/{_selectedScan.Id}.webp")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/webp/4k/{_selectedScan.Id}.webp")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with an HD resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertHeifHdTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeifHdTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeifHdTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/heif/hd/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/heif/hd/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with a 1440p resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertHeif1440Th == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeif1440Th == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeif1440Th == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/heif/1440p/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/heif/1440p/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with a 4K resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertHeif4kTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeif4kTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeif4kTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/heif/4k/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/heif/4k/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with an HD resolution..."]
            </td>
            <td>
                @if(_convertHeifHd == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeifHd == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeifHd == true)
                {
                    <a href="@($"/assets/scans/magazines/heif/hd/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/heif/hd/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with a 1440p resolution..."]
            </td>
            <td>
                @if(_convertHeif1440 == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeif1440 == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeif1440 == true)
                {
                    <a href="@($"/assets/scans/magazines/heif/1440p/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/heif/1440p/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to HEIF with a 4K resolution..."]
            </td>
            <td>
                @if(_convertHeif4k == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertHeif4k == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertHeif4k == true)
                {
                    <a href="@($"/assets/scans/magazines/heif/4k/{_selectedScan.Id}.heic")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/heif/4k/{_selectedScan.Id}.heic")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with an HD resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertAvifHdTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvifHdTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvifHdTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/avif/hd/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/avif/hd/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with a 1440p resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertAvif1440Th == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvif1440Th == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvif1440Th == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/avif/1440p/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/avif/1440p/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with a 4K resolution (thumbnail)..."]
            </td>
            <td>
                @if(_convertAvif4kTh == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvif4kTh == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvif4kTh == true)
                {
                    <a href="@($"/assets/scans/magazines/thumbs/avif/4k/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/thumbs/avif/4k/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with an HD resolution..."]
            </td>
            <td>
                @if(_convertAvifHd == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvifHd == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvifHd == true)
                {
                    <a href="@($"/assets/scans/magazines/avif/hd/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/avif/hd/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with a 1440p resolution..."]
            </td>
            <td>
                @if(_convertAvif1440 == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvif1440 == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvif1440 == true)
                {
                    <a href="@($"/assets/scans/magazines/avif/1440p/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/avif/1440p/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Converting photo to AV1F with a 4K resolution..."]
            </td>
            <td>
                @if(_convertAvif4k == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_convertAvif4k == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
                @if(_convertAvif4k == true)
                {
                    <a href="@($"/assets/scans/magazines/avif/4k/{_selectedScan.Id}.avif")" target="_blank">
                        <img alt="" height="auto" src="@($"/assets/scans/magazines/avif/4k/{_selectedScan.Id}.avif")" style="max-height: 256px; max-width: 256px" width="auto" />
                    </a>
                }
            </td>
        </tr>
        <tr>
            <td>
                @L["Adding photo to database..."]
            </td>
            <td>
                @if(_addToDatabase == true)
                {
                    <span class="text-success">@L["OK!"]</span>
                }
                else if(_addToDatabase == false)
                {
                    <span class="text-danger">@L["Error!"]</span>
                }
            </td>
            <td>
            </td>
        </tr>
        </table>
}
}


@if(_editingScan && !_editing)
{
    <div>
        <Field>
            <FieldLabel>@L["Uploaded by"]</FieldLabel>
            <TextEdit Disabled="true" Text="@($"{_scanUser.UserName} <{_scanUser.Email}>")" />
        </Field>
        <Field>
            <FieldLabel>@L["Uploaded date"]</FieldLabel>
            <TextEdit Disabled="true" Text="@($"{_selectedScan.UploadDate}")" />
        </Field>
        <Field>
            <FieldLabel>@L["Scan type"]</FieldLabel>
            <Select @bind-SelectedValue="@ScanType" Disabled="!_editingScan" @TValue="uint">
                @foreach(uint value in Enum.GetValues(typeof(DocumentScanType)))
                {
                    <SelectItem @TValue="uint" Value="@value">@(((DocumentScanType)value).ToString())</SelectItem>
}
            </Select>
        </Field>
        <Field>
            <FieldLabel>@L["Page"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanPage" @TValue="bool">@L["Unknown (scan page)"]</Check>
            @if(!_unknownScanPage)
            {
                <Validation Validator="@ValidateUnsignedIntegerBiggerThanZero">
                    <NumericEdit @bind-Value="@_selectedScan.Page" Disabled="!_editing" @TValue="uint?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid scanned page."]</ValidationError>
                        </Feedback>
                    </NumericEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Author"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanAuthor" @TValue="bool">@L["Unknown (author)"]</Check>
            @if(!_unknownScanAuthor)
            {
                <Validation Validator="@ValidateScanAuthor">
                    <TextEdit @bind-Text="@_selectedScan.Author" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid author."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Scanner manufacturer"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanScannerManufacturer" @TValue="bool">@L["Unknown (scanner manufacturer)"]</Check>
            @if(!_unknownScanScannerManufacturer)
            {
                <Validation Validator="@ValidateScannerManufacturer">
                    <TextEdit @bind-Text="@_selectedScan.ScannerManufacturer" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid scanner manufacturer."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Scanner model"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanScannerModel" @TValue="bool">@L["Unknown (scanner model)"]</Check>
            @if(!_unknownScanScannerModel)
            {
                <Validation Validator="@ValidateScannerModel">
                    <TextEdit @bind-Text="@_selectedScan.ScannerModel" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid scanner model."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Color space"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanColorSpace" @TValue="bool">@L["Unknown (color space)"]</Check>
            @if(!_unknownScanColorSpace)
            {
                <Select @bind-SelectedValue="@ScanColorSpace" Disabled="!_editingScan" @TValue="ushort">
                    @foreach(ushort value in Enum.GetValues(typeof(ColorSpace)))
                    {
                        <SelectItem @TValue="ushort" Value="@value">@(((ColorSpace)value).ToString())</SelectItem>
}
                </Select>
}
        </Field>
        <Field>
            <FieldLabel>@L["Creation date"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanCreationDate" @TValue="bool">@L["Unknown (creation date)"]</Check>
            @if(!_unknownScanCreationDate)
            {
                <Validation Validator="@ValidateDate">
                    <DateEdit @bind-Date="@_selectedScan.CreationDate" Disabled="!_editingScan" @TValue="DateTime?">
                        <Feedback>
                            <ValidationError>@L["Please enter a correct creation date."]</ValidationError>
                        </Feedback>
                    </DateEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Exif version"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanExifVersion" @TValue="bool">@L["Unknown (exif version)"]</Check>
            @if(!_unknownScanExifVersion)
            {
                <Validation Validator="@ValidateExifVersion">
                    <TextEdit @bind-Text="@_selectedScan.ExifVersion" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid Exif version."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Horizontal resolution"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanHorizontalResolution" @TValue="bool">@L["Unknown (horizontal resolution)"]</Check>
            @if(!_unknownScanHorizontalResolution)
            {
                <Validation Validator="@ValidateDoubleBiggerThanZero">
                    <NumericEdit @bind-Value="@_selectedScan.HorizontalResolution" Decimals="3" Disabled="!_editingScan" @TValue="double?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid horizontal resolution."]</ValidationError>
                        </Feedback>
                    </NumericEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Resolution unit"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanResolutionUnit" @TValue="bool">@L["Unknown (resolution unit)"]</Check>
            @if(!_unknownScanResolutionUnit)
            {
                <Select @bind-SelectedValue="@ScanResolutionUnit" Disabled="!_editingScan" @TValue="ushort">
                    @foreach(ushort value in Enum.GetValues(typeof(ResolutionUnit)))
                    {
                        <SelectItem @TValue="ushort" Value="@value">@(((ResolutionUnit)value).ToString())</SelectItem>
}
                </Select>
}
        </Field>
        <Field>
            <FieldLabel>@L["Software used"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanSoftwareUsed" @TValue="bool">@L["Unknown (software used)"]</Check>
            @if(!_unknownScanSoftwareUsed)
            {
                <Validation Validator="@ValidateSoftwareUsed">
                    <TextEdit @bind-Text="@_selectedScan.SoftwareUsed" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid software used."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["Vertical resolution"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanVerticalResolution" @TValue="bool">@L["Unknown (vertical resolution)"]</Check>
            @if(!_unknownScanVerticalResolution)
            {
                <Validation Validator="@ValidateDoubleBiggerThanZero">
                    <NumericEdit @bind-Value="@_selectedScan.VerticalResolution" Decimals="3" Disabled="!_editingScan" @TValue="double?">
                        <Feedback>
                            <ValidationError>@L["Please enter a valid vertical resolution."]</ValidationError>
                        </Feedback>
                    </NumericEdit>
                </Validation>
}
        </Field>
        <Field>
            <FieldLabel>@L["User comments"]</FieldLabel>
            <Check @bind-Checked="@_unknownScanComments" @TValue="bool">@L["Unknown or empty (user comments)"]</Check>
            @if(!_unknownScanComments)
            {
                <Validation Validator="@ValidateComments">
                    <TextEdit @bind-Text="@_selectedScan.Comments" Disabled="!_editingScan">
                        <Feedback>
                            <ValidationError>@L["Please enter valid comments."]</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
}
        </Field>
        <Button Clicked="@OnSaveScanClicked" Color="Color.Success">@L["Save"]</Button>
        <Button Clicked="@OnCancelScanClicked" Color="Color.Danger">@L["Cancel"]</Button>
    </div>
}