@{
/******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Details.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view details
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/sound_synths/details/{Id:int}"
@inherits OwningComponentBase<SoundSynthsService>
@inject IStringLocalizer<SoundSynthsService> L
@inject CompaniesService CompaniesService
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Sound synthesizer details"]</h3>
<hr />

@if (!_loaded)
{
    <p align="center">@L["Loading..."]</p>

    return;
}

<div>
    @if (_editable || _model.CompanyId != null)
    {
        <Field>
            <FieldLabel>@L["Company"]</FieldLabel>
            <Select Disabled="!_editable" TValue="int?" @bind-SelectedValue="@_model.CompanyId">
                @foreach (var company in _companies)
                {
                    <SelectItem TValue="int?" Value="@company.Id">@company.Name</SelectItem>
                }
            </Select>
        </Field>
    }
    <Field>
        <FieldLabel>@L["Name"]</FieldLabel>
        <TextEdit Disabled="!_editable" @bind-Text="@_model.Name"/>
    </Field>
    @if (_editable || _model.ModelCode != null)
    {
        <Field>
            <FieldLabel>@L["Model code"]</FieldLabel>
            <TextEdit Disabled="!_editable" @bind-Text="@_model.ModelCode"/>
        </Field>
    }
    @if (_editable || _model.Introduced.HasValue)
    {
        <Field>
            <FieldLabel>@L["Introduced"]</FieldLabel>
            <DateEdit Disabled="!_editable" TValue="DateTime?" @bind-Date="@_model.Introduced"/>
        </Field>
    }
    @if (_editable || _model.Voices.HasValue)
    {
        <Field>
            <FieldLabel>@L["Digitized voices"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="int?" Decimals="0" @bind-Value="@_model.Voices"/>
        </Field>
    }
    @if (_editable || _model.Frequency.HasValue)
    {
        <Field>
            <FieldLabel>@L["Sample rate (Hz)"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="double?" Decimals="0" @bind-Value="@_model.Frequency"/>
        </Field>
    }
    @if (_editable || _model.Depth.HasValue)
    {
        <Field>
            <FieldLabel>@L["Sample resolution (bits)"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="int?" Decimals="0" @bind-Value="@_model.Depth"/>
        </Field>
    }
    @if (_editable || _model.SquareWave.HasValue)
    {
        <Field>
            <FieldLabel>@L["Square wave channels"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="int?" Decimals="0" @bind-Value="@_model.SquareWave"/>
        </Field>
    }
    @if (_editable || _model.WhiteNoise.HasValue)
    {
        <Field>
            <FieldLabel>@L["White noise channels"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="int?" Decimals="0" @bind-Value="@_model.WhiteNoise"/>
        </Field>
    }
    @if (_editable || _model.Type.HasValue)
    {
        <Field>
            <FieldLabel>@L["Type"]</FieldLabel>
            <NumericEdit Disabled="!_editable" TValue="int?" Decimals="0" @bind-Value="@_model.Type"/>
        </Field>
    }
</div>
<div>
    <span class="btn btn-primary">@L["Edit"]</span>
    <a href="/admin/sound_synths" class="btn btn-secondary">@L["Back to list"]</a>
</div>