@{
/******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/consoles"
@inherits OwningComponentBase<ConsolesService>
@inject IStringLocalizer<ConsolesService> L

@if (!_loaded)
{
    <p align="center">@L["Loading..."]</p>

    return;
}

<p>
    @L["Here you can consult our database."]
    <br />
    @L["In this database you can find technical information as well as videogame consoles history, catalogued by companies, alphabetically and by release date."]
    <br />
    @string.Format(L["{0} videogame consoles actually catalogued in the database."], _consoles)
</p>
<p>
    <br>
    <br>
    @L["Search by companies"]
    <br>
    <a href="/companies/Q">
        Q
    </a>
    <a href="/companies/W">
        W
    </a>
    <a href="/companies/E">
        E
    </a>
    <a href="/companies/R">
        R
    </a>
    <a href="/companies/T">
        T
    </a>
    <a href="/companies/Y">
        Y
    </a>
    <a href="/companies/U">
        U
    </a>
    <a href="/companies/I">
        I
    </a>
    <a href="/companies/O">
        O
    </a>
    <a href="/companies/P">
        P
    </a>
    <br>
    <a href="/companies/A">
        A
    </a>
    <a href="/companies/S">
        S
    </a>
    <a href="/companies/D">
        D
    </a>
    <a href="/companies/F">
        F
    </a>
    <a href="/companies/G">
        G
    </a>
    <a href="/companies/H">
        H
    </a>
    <a href="/companies/J">
        J
    </a>
    <a href="/companies/K">
        K
    </a>
    <a href="/companies/L">
        L
    </a>
    <br>
    <a href="/companies/Z">
        Z
    </a>
    <a href="/companies/X">
        X
    </a>
    <a href="/companies/C">
        C
    </a>
    <a href="/companies/V">
        V
    </a>
    <a href="/companies/B">
        B
    </a>
    <a href="/companies/N">
        N
    </a>
    <a href="/companies/M">
        M
    </a>
    <br>
    <a href="/companies">
        @L["All companies"]
    </a>
</p>
<p>
    @L["Alphabetically search"]
    <br>
    <a href="/consoles/Q">
        Q
    </a>
    <a href="/consoles/W">
        W
    </a>
    <a href="/consoles/E">
        E
    </a>
    <a href="/consoles/R">
        R
    </a>
    <a href="/consoles/T">
        T
    </a>
    <a href="/consoles/Y">
        Y
    </a>
    <a href="/consoles/U">
        U
    </a>
    <a href="/consoles/I">
        I
    </a>
    <a href="/consoles/O">
        O
    </a>
    <a href="/consoles/P">
        P
    </a>
    <br>
    <a href="/consoles/A">
        A
    </a>
    <a href="/consoles/S">
        S
    </a>
    <a href="/consoles/D">
        D
    </a>
    <a href="/consoles/F">
        F
    </a>
    <a href="/consoles/G">
        G
    </a>
    <a href="/consoles/H">
        H
    </a>
    <a href="/consoles/J">
        J
    </a>
    <a href="/consoles/K">
        K
    </a>
    <a href="/consoles/L">
        L
    </a>
    <br>
    <a href="/consoles/Z">
        Z
    </a>
    <a href="/consoles/X">
        X
    </a>
    <a href="/consoles/C">
        C
    </a>
    <a href="/consoles/V">
        V
    </a>
    <a href="/consoles/B">
        B
    </a>
    <a href="/consoles/N">
        N
    </a>
    <a href="/consoles/M">
        M
    </a>
    <br>
    <a href="/consoles/all">
        @L["All videogame consoles"]
    </a>
</p>
<p>
    @L["Search by year"]
    <br>
    @{ var counter = 0; }
    @for (int i = _minYear; i <= _maxYear; i++)
    {
        {
            counter++;
        }
        <a href="/consoles/year/@i">
            @i
        </a>
        if (counter % 8 == 0)
        {
            <br />
        }
    }
</p>
