@{
/******************************************************************************
// Canary Islands Computer Museum Website
// ----------------------------------------------------------------------------
//
// Filename       : ExternalLogins.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     ASP.NET Identify management
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/
}
@page
@using Microsoft.AspNetCore.Authentication
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial for="StatusMessage"
         name="_StatusMessage" />
@if(Model.CurrentLogins?.Count > 0)
{
    <h4>Registered Logins</h4>
    <table class="table">
        <tbody>
        @foreach(UserLoginInfo login in Model.CurrentLogins)
        {
            <tr>
                <td>@login.ProviderDisplayName</td>
                <td>
                    @if(Model.ShowRemoveButton)
                    {
                        <form asp-page-handler="RemoveLogin"
                              id="remove-login"
                              method="post">
                            <div>
                                <input asp-for="@login.LoginProvider"
                                       name="LoginProvider"
                                       type="hidden" />
                                <input asp-for="@login.ProviderKey"
                                       name="ProviderKey"
                                       type="hidden" />
                                <button type="submit"
                                        class="btn btn-primary"
                                        title="Remove this @login.ProviderDisplayName login from your account">
                                    Remove
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if(Model.OtherLogins?.Count > 0)
{
    <h4>Add another service to log in.</h4>
    <hr />
    <form asp-page-handler="LinkLogin"
          class="form-horizontal"
          id="link-login-form"
          method="post">
        <div id="socialLoginList">
            <p>
                @foreach(AuthenticationScheme provider in Model.OtherLogins)
                {
                    <button id="link-login-button"
                            type="submit"
                            class="btn btn-primary"
                            name="provider"
                            value="@provider.Name"
                            title="Log in using your @provider.DisplayName account">
                        @provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
}