@model Marechai.Database.Models.License

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>License</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SPDX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SPDX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FsfApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FsfApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OsiApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OsiApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
        Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>
</div>