@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Index.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view index
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/
}
@using Marechai.Database.Models
@model IEnumerable<Marechai.Database.Models.BrowserTest>

@{
    ViewData["Title"] = "Browser tests (Admin)";
}

<h2>Browser tests</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Browser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAgent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gif87)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gif89)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jpeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Png)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pngt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Js)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flash)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(BrowserTest item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Browser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Os)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gif87)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gif89)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jpeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Png)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pngt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Js)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flash)
            </td>
            <td>
                <a asp-action="Details"
                   asp-route-id="@item.Id"
                   class="btn btn-primary">
                    Details
                </a>
                <a asp-action="Edit"
                   asp-route-id="@item.Id"
                   class="btn btn-secondary">
                    Edit
                </a>
                <a asp-action="Delete"
                   asp-route-id="@item.Id"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>