@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Companies.razor
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     List of companies
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/companies"
@inherits OwningComponentBase<CompaniesService>
@inject IStringLocalizer<CompaniesService> L

@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Companies"]</h3>
@if (_companies is null)
{
    <p>@L["Loading..."]</p>

    return;
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @L["Name"]
        </th>
        <th>
            @L["Founded"]
        </th>
        <th>
            @L["Status"]
        </th>
        <th>
            @L["Country"]
        </th>
        <th>
            @L["Sold"]
        </th>
        <th>
            @L["Sold to"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in _companies)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @($"{item.Founded:d}")
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Country
            </td>
            <td>
                @item.SoldView
            </td>
            <td>
                @item.SoldTo
            </td>
            <td>
                <a class="btn btn-primary" href="/admin/companies/details/@item.Id">@L["Details"]</a>
                <a class="btn btn-primary" href="/admin/companies/edit/@item.Id">@L["Edit"]</a>
                <Button Color="Color.Danger" Clicked="() => {ShowModal(item.Id);}">@L["Delete"]</Button>
            </td>
        </tr>
    }
    </tbody>
</table>

<Modal @ref="_frmDelete" IsCentered="true" Closing="@ModalClosing"> 
    <ModalBackdrop/>
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["Delete company"]</ModalTitle>
            <CloseButton Clicked="@HideModal"/>
        </ModalHeader>
        <ModalBody>
            <Text>@string.Format(@L["Are you sure you want to delete the company {0}?"], _currentCompany?.Name)</Text>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@HideModal" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
            <Button Color="Color.Danger" Clicked="@ConfirmDelete" Disabled="@_deleteInProgress">@L["Delete"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
