@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin"
@inherits OwningComponentBase<AdminService>
@inject IStringLocalizer<AdminService> L
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Administration area"]</h3>
<p>@L["Welcome to the administration area. Act with care!"]</p>
<div class="content">
    <h3>@L["Database administrative pages"]</h3>
    <ul>
        <AuthorizeView Roles="UberAdmin">
            <li>
                <a href="/admin/browser_tests">@L["Browser tests"]</a>
            </li>
        </AuthorizeView>
        <li>
            <a href="/admin/companies">@L["Companies"]</a>
        </li>
        <li>
            <a href="/admin/gpus">@L["Graphics Processing Units"]</a>
        </li>
        <li>
            <a href="/admin/instruction_sets">@L["Instruction sets"]</a>
        </li>
        <li>
            <a href="/admin/instruction_set_extensions">@L["Instruction set extensions"]</a>
        </li>
        <li>
            <a href="/admin/licenses">@L["Licenses"]</a>
        </li>
        <li>
            <a href="/admin/machine_families">@L["Machine families"]</a>
        </li>
        <li>
            <a href="/admin/machines">@L["Machines"]</a>
        </li>
        <li>
            <a href="/admin/people">@L["People"]</a>
        </li>
        <li>
            <a href="/admin/news">@L["News"]</a>
        </li>
        <li>
            <a href="/admin/processors">@L["Processors"]</a>
        </li>
        <li>
            <a href="/admin/screens">@L["Screens"]</a>
        </li>
        <li>
            <a href="/admin/sound_synths">@L["Sound synthesizers"]</a>
        </li>
        <li>
            <a href="/admin/resolutions">@L["Resolutions"]</a>
        </li>
    </ul>
</div>
<div class="content">
    <h3>@L["Administrative pages for documents"]</h3>
    <ul>
        <li>
            <a href="/admin/document_companies">@L["Document companies"]</a>
        </li>
        <li>
            <a href="/admin/document_people">@L["Document people"]</a>
        </li>
        <li>
            <a href="/admin/books">@L["Books"]</a>
        </li>
        <li>
            <a href="/admin/documents">@L["Documents"]</a>
        </li>
        <li>
            <a href="/admin/magazines">@L["Magazines"]</a>
        </li>
        <li>
            <a href="/admin/magazine_issues">@L["Magazine issues"]</a>
        </li>
    </ul>
</div>
<div class="content">
    <h3>@L["Administrative pages for owned machines"]</h3>
</div>
<div class="content">
    <h3>@L["User administrative pages"]</h3>
</div>
<div class="content">
    <h3>@L["Administrative pages for currencies"]</h3>
    <ul>
        <li>
            <a href="/admin/currency_inflation">@L["Currency inflation"]</a>
        </li>
        <li>
            <a href="/admin/currency_pegging">@L["Currency pegging"]</a>
        </li>
    </ul>
</div>
<div class="content">
    <h3>@L["Administrative pages for media dumps"]</h3>
    <ul>
        <li>
            <a href="/admin/dumps">@L["Dumps"]</a>
        </li>
    </ul>
</div>
<div class="content">
    <h3>@L["Administrative pages for software"]</h3>
    <ul>
        <li>
            <a href="/admin/software_families">@L["Software families"]</a>
        </li>
        <li>
            <a href="/admin/software_versions">@L["Software versions"]</a>
        </li>
        <li>
            <a href="/admin/software_variants">@L["Software variants"]</a>
        </li>
    </ul>
</div>