@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2021 Natalia Portillo
*******************************************************************************/
}

@page "/admin/licenses"
@using Marechai.Database.Models
@inherits OwningComponentBase<LicensesService>
@inject IStringLocalizer<LicensesService> L
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Licenses"]</h3>
@if(_licenses is null)
{
    <p>@L["Loading..."]</p>

    return;
}
<p>
    <a class="btn btn-primary" href="/admin/licenses/create">@L["Create new"]</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @L["Name"]
        </th>
        <th>
            @L["SPDX"]
        </th>
        <th>
            @L["Approved by FSF"]
        </th>
        <th>
            @L["Approved by OSI"]
        </th>
        <th>
            @L["Link"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in _licenses)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.SPDX
            </td>
            <td>
                @item.FsfApproved
            </td>
            <td>
                @item.OsiApproved
            </td>
            <td>
                @if(item.Link != null)
                {
                    <a href="@item.Link" target="_blank">
                        @L["Link"]
                    </a>
                }
            </td>
            <td>
                <a class="btn btn-primary" href="/admin/licenses/details/@item.Id">@L["Details"]</a>
                <a class="btn btn-secondary" href="/admin/licenses/edit/@item.Id">@L["Edit"]</a>
                <Button Clicked="() => {ShowModal(item.Id);}" Color="Color.Danger">@L["Delete"]</Button>
            </td>
        </tr>
    }
    </tbody>
</table>
<Modal Closing="@ModalClosing" IsCentered="true" ref="_frmDelete">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["Delete license"]</ModalTitle>
            <CloseButton Clicked="@HideModal" />
        </ModalHeader>
        <ModalBody>
            <Text>@string.Format(L["Are you sure you want to delete {0}?"], _license?.Name)</Text>
        </ModalBody>
        <ModalFooter>
            <Button Clicked="@HideModal" Color="Color.Primary" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
            <Button Clicked="@ConfirmDelete" Color="Color.Danger" Disabled="@_deleteInProgress">@L["Delete"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>