@{
/******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : News.razor
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     List of news
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/news"
@using Marechai.Database.Models
@inherits OwningComponentBase<NewsService>
@inject IStringLocalizer<NewsService> L
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["News"]</h3>
@if (_news is null)
{
    <p>@L["Loading..."]</p>

    return;
}
<table class="table">
    <thead>
    <tr>
        <th>
            @L["Date"]
        </th>
        <th>
            @L["Type"]
        </th>
        <th>
            @L["Affected ID"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in _news)
    {
        <tr>
            <td>
                @item.Timestamp
            </td>
            <td>
                @item.Type
            </td>
            <td>
                @item.AffectedId
            </td>
            <td>
                <span class="btn btn-danger">
                    @L["Delete"]
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>

@code
{
    List<NewsViewModel> _news;

    protected override async Task OnInitializedAsync()
    {
        _news = await Service.GetAsync();
    }
}