@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/screens"
@using Marechai.Database.Models
@inherits OwningComponentBase<ScreensService>
@inject IStringLocalizer<ScreensService> L
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Screens"]</h3>
@if(_screens is null)
{
    <p>@L["Loading..."]</p>

    return;
}
<p>
    <a class="btn btn-primary" href="/admin/screens/create">@L["Create new"]</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @L["Diagonal"]
        </th>
        <th>
            @L["Native resolution"]
        </th>
        <th>
            @L["Effective colors"]
        </th>
        <th>
            @L["Type"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in _screens)
    {
        <tr>
            <td>
                @string.Format(L["{0}\""], item.Diagonal)
            </td>
            <td>
                @item.NativeResolution.ToString()
            </td>
            <td>
                @item.EffectiveColors
            </td>
            <td>
                @item.Type
            </td>
            <td>
                <a class="btn btn-primary" href="/admin/screens/details/@item.Id">@L["Details"]</a>
                <a class="btn btn-secondary" href="/admin/screens/edit/@item.Id">@L["Edit"]</a>
                <Button Clicked="() => {ShowModal(item.Id);}" Color="Color.Danger">@L["Delete"]</Button>
            </td>
        </tr>
    }
    </tbody>
</table>
<Modal Closing="@ModalClosing" IsCentered="true" ref="_frmDelete">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["Delete screen"]</ModalTitle>
            <CloseButton Clicked="@HideModal" />
        </ModalHeader>
        <ModalBody>
            <Text>@string.Format(L["Are you sure you want to delete screen of {0}\" size with a resolution of {1} and type {2}?"], _screen?.Diagonal, _screen?.NativeResolution, _screen?.Type)</Text>
        </ModalBody>
        <ModalFooter>
            <Button Clicked="@HideModal" Color="Color.Primary" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
            <Button Clicked="@ConfirmDelete" Color="Color.Danger" Disabled="@_deleteInProgress">@L["Delete"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>