@{
/******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : SoundSynths.razor
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     List of sound synthesizers
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}

@page "/admin/sound_synths"
@inherits OwningComponentBase<SoundSynthsService>
@inject IStringLocalizer<SoundSynthsService> L
@attribute [Authorize(Roles = "UberAdmin, Admin")]
<h3>@L["Sound synthesizers"]</h3>
@if (_soundSynths is null)
{
    <p>@L["Loading..."]</p>

    return;
}
<p>
    <span class="btn btn-primary">
        @L["Create new"]
    </span>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @L["Company"]
        </th>
        <th>
            @L["Name"]
        </th>
        <th>
            @L["Model code"]
        </th>
        <th>
            @L["Introduced"]
        </th>
        <th>
            @L["Type"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in _soundSynths)
    {
        <tr>
            <td>
                @item.CompanyName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.ModelCode
            </td>
            <td>
                @item.IntroducedView
            </td>
            <td>
                @item.Type
            </td>
            <td>
                <span class="btn btn-primary">
                    @L["Details"]
                </span>
                <span class="btn btn-secondary">
                    @L["Edit"]
                </span>
                <Button Color="Color.Danger" Clicked="() => {ShowModal(item.Id);}">@L["Delete"]</Button>
            </td>
        </tr>
    }
    </tbody>
</table>

<Modal @ref="_frmDelete" IsCentered="true" Closing="@ModalClosing"> 
    <ModalBackdrop/>
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["Delete sound synthesizer"]</ModalTitle>
            <CloseButton Clicked="@HideModal"/>
        </ModalHeader>
        <ModalBody>
            <Text>@string.Format(@L["Are you sure you want to delete {0} {1}?"], _soundSynth?.CompanyName, _soundSynth?.Name)</Text>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@HideModal" Disabled="@_deleteInProgress">@L["Cancel"]</Button>
            <Button Color="Color.Danger" Clicked="@ConfirmDelete" Disabled="@_deleteInProgress">@L["Delete"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
