@{
    /******************************************************************************
// Canary Islands Computer Museum Website
// ----------------------------------------------------------------------------
//
// Filename       : Details.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view details
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/
}
@model Cicm.Database.Models.Processor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Processor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Introduced)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Introduced)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Package)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gprs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gprs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GprSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GprSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fprs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fprs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FprSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FprSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThreadsPerCore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThreadsPerCore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcessNm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessNm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DieSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DieSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Transistors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Transistors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataBus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataBus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddrBus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddrBus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SimdRegisters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimdRegisters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SimdSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimdSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L1Instruction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L1Instruction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L1Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L1Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.L3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.L3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstructionSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstructionSet.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
