@using Cicm.Database.Models
@model IEnumerable<Cicm.Database.Models.Screen>

@{
    ViewData["Title"] = "Index";
}

<h1>Screens</h1>

<p>
    <a asp-action="Create"
       class="btn btn-primary">
        Create New
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diagonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeResolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveColors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(Screen item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagonal)
            </td>
            <td>
                @item.NativeResolution.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveColors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Details"
                   asp-route-id="@item.Id"
                   class="btn btn-primary">
                    Details
                </a>
                <a asp-action="Edit"
                   asp-route-id="@item.Id"
                   class="btn btn-secondary">
                    Edit
                </a>
                <a asp-action="Delete"
                   asp-route-id="@item.Id"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>